.cv-wrapper {
    display: flex;
    flex-direction: column;
}

.cv-skills {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--sidebar-bg);
    border: 1px solid var(--sidebar-border-color);
    border-radius: 0.75rem;
    padding: 1rem 1rem 1rem 1rem;
}

.cv-skill-container span:not(:last-child):after {
    content: " · ";
    font-weight: bolder;
    color: var(--text-muted-highlight-color);
}

.cv-company-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.cv-role-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cv-education {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
