{% assign experiences = site.data.cv.experiences %}

<div class="cv-experience">
    <h2>Experience</h2>
    {% for experience in experiences %}
    <h3>{{ experience.company }}</h3>
    <div>
        {% for role in experience.roles %}
        <div class="cv-role-container">
            <div>
                <i class="fa-solid fa-angle-right"></i>
                <strong>{{ role.title }}</strong>
            </div>
            <div>
                <em>{{ role.date }}</em>
            </div>
        </div>
        {% endfor %}
    </div>  
    <div>{{ experience.headline }}</div>
    <ul>
        {% for achievement in experience.achievements %}
        <li>
            <div>{{ achievement }}</div>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
